* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--body-background);
}

.input:focus {
  outline: none;
  border: unset;
}

.input:hover {
  outline: none;
  border: unset;
}

.input {
  outline: none;
  border: unset;
  background-color: var(--search-bar-background);
  color: var(--search-bar-text);
  border-radius: 0.4rem 0 0 0.4rem;
  font-weight: 600;
  padding-left: 1rem;
}

.submit:focus {
  outline: none;
  border: unset;
  background-color: var(--stream-purple);
}

.submit:hover {
  outline: none;
  border: unset;
}

.submit {
  outline: none;
  border: unset;
  background-color: var(--search-button-background);
  color: var(--search-button-text);
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  font-weight: bolder;
}

.submit,
.input {
  font-size: 1rem;
}

.form-container {
  width: 60%;
}

.player_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.player_container img {
  width: 10%;
  border-radius: 0.5rem;
  height: 100%;
}

.player_container div {
  width: 100%;
}

.player_container audio {
  height: 3.5vh;
  width: 100%;
}

.player_container p {
  font-family: sans-serif;
  font-weight: bolder;
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  color: var(--player-color);
}

.player_container {
  background-color: var(--player-background);
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
}

.content {
  width: 60%;
}

.player_container audio::-webkit-media-controls-panel {
  background-color: var(--player-background);
}

.form-container form {
  border: 1px solid var(--cast-green);
  border-radius: 0.41rem;
}

.logo-container {
  width: 50%;
}

@media (max-width: 600px) {
  .form-container {
    width: 90%;
  }

  .content {
    width: 90%;
  }

  .logo-container {
    width: 100%;
  }
}

.deactive {
    display: none;
}

.opinions {
    font-family: sans-serif;
    margin-top: 1rem;
}

:root {
  --player-color: #1c1c1c;
  --player-background: #fff;
  --body-background: #f7f7f8;
  --cast-green: #1db954;
  --stream-purple: #483285;
  --search-bar-background: #fff;
  --search-bar-text: #1c1c1c;
  --search-button-text: #fff;
  --search-button-background: #1db954;
}
